// quick fixes, hacks and questionable techniques (ex: !important)
.notify-critical {
  background-color: #FAD9DF !important;
  border: 1px solid #ff382d !important;
}

.notify-warning {
  background-color: antiquewhite !important;
  border: 1px solid #ffa42d !important;
}
